<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<LINK href="style.css" rel="stylesheet" type="text/css">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SMM-парсер</title>
 </head>
 <body>
  <div id="container">
   <div id="sidebar"><div id="logo"><h3>SMM-парсер</h3></div>
    <ul>
     <li><a href=#>О сервисе</a></li>
     <li><a href=#>Инструкция</a></li>
     <li><a href=#>Отчёт</a></li>
     <li><a href=#>Инструменты</a>
      <ul>
       <li><a href=#>Узнать ID страницы</a></li>
       <li><a href=#>Парсер участников</a></li>
      </ul>
     </li>
    </ul>
    <div id="footer">&copy; Мария Гладышева
    <div id="icons"><img src="github.svg" alt="GitHub">
    <img src="telegram.svg" alt="GitHub"></div>
    </div>
   </div>
   <div id="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud exercitation ullamco
     laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
     dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
     officia deserunt mollit anim id est laborum.
    </p>
   </div>
  </div>
 </body>
</html>
