{% extends "base.html" %}
{% block title %}Генератор отчётов{% endblock %}
{% block content %}
<h1>Сгенерировать отчёт</h1>
<form method="POST">
    <label>Вставьте ссылку на группу ВК</label><br>
    <input type="text" name="group_link" id="group_link" placeholder="https://vk.com/group_name"><br>
    <label>Начало периода: <input type="date" name="start_date" min="{{ min_date }}" max="{{ today }}"></label><br>
    <label>Конец периода: <input type="date" name="end_date" min="{{ min_date }}" max="{{ today }}"></label><br>
    <input type="submit" value="Отправить">
</form>
{% if output_file %}
<hr>
 {{ output_file }}
{% endif %}
{% endblock %}